---
import Search from "@/components/Search.svelte";
import CRDs from "@/crds";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="manifests.fyi"
  description="The only Kubernetes CRD reference you need."
>
  <Search
    client:only="svelte"
    resources={CRDs.keys()
    .flatMap((group) =>
      CRDs.get(group)!
        .keys()
        .flatMap((version) =>
          CRDs.get(group)!
            .get(version)!
            .keys()
            .map((kind) => ({
              group,
              version,
              kind,
              name: `${group}/${version}/${kind}`,
            }))
        )
    )
    .toArray()}
  />
  <span slot="title" transition:animate="none" class="sr-only">
    All Resources
  </span>
  <ul class="group-list sr-only">
    {
      Array.from(CRDs.keys()).map((group) => (
        <li>
          <a href={`/${group}`}>
            {group}
          </a>
        </li>
        <ul class="version-list">
          {
            CRDs.get(group)!.keys().map((version) => (
              <li>
                <a href={`/${group}/${version}`}>{version}</a>
                <ul class="kind-list">
                  {
                    CRDs.get(group)!
              .get(version)!
              .keys()
              .map((kind) => (
                      <li>
                        <a href={`/${group}/${version}/${kind}`}>{kind}</a>
                      </li>
                    ))
                  }
                </ul>
              </li>
            ))
          }
        </ul>
      ))
    }
  </ul>
</BaseLayout>

<style lang="scss">
  @reference "../styles/global.css";
  span {
    @apply mt-4 text-4xl font-bold text-gray-800;
  }

  ul {
    @apply flex flex-col gap-4 p-4 pt-0 text-3xl font-bold text-gray-800;
    @apply rounded-xl p-4;
  }

  .group-list {
    @apply gap-2;
    @apply rounded-lg;
  }

  .version-list {
    @apply gap-2;
    @apply rounded;
  }

  .kind-list {
    @apply gap-1 pl-4;
    @apply rounded-sm;
  }

  a {
    @apply text-gray-800 transition-colors duration-200 ease-in-out;
    @apply hover:text-gray-600;
  }
</style>
