---
import type { V1CustomResourceDefinition } from "@kubernetes/client-node";
import { openapiSchemaToJsonSchema } from "@openapi-contrib/openapi-schema-to-json-schema";
import { Markdown } from "astro-remote";

interface Props {
  crd: V1CustomResourceDefinition;
  version: string;
}

const { crd, version } = Astro.props;
const spec = crd.spec.versions.find((v) => v.name === version);
const schema = spec?.schema?.openAPIV3Schema;
const jsonSchema = schema ? openapiSchemaToJsonSchema(schema) : null;
type JSONSchema4 = ReturnType<typeof openapiSchemaToJsonSchema>;

function flattenProperties(schema: JSONSchema4, prefix = "") {
  if (!schema || !schema.properties) return [];

  let result: {
    pathElements: string[];
    path: string;
    type: string | string[] | undefined;
    description: string;
    required: boolean;
  }[] = [];

  Object.entries(schema.properties).forEach(([key, value]) => {
    const pathElements = prefix ? [...prefix.split("."), key] : [key];
    const path = prefix ? `${prefix}.${key}` : key;

    let propType = value.type;
    if (value.anyOf && Array.isArray(value.anyOf)) {
      propType = value.anyOf
        .map((item) => item.type!)
        .filter(Boolean)
        .flat();
    }

    result.push({
      pathElements,
      path,
      type: propType,
      description: value.description || "",
      required:
        typeof schema.required === "boolean"
          ? schema.required
          : Array.isArray(schema.required)
            ? schema.required.includes(key)
            : false,
    });

    if (value.properties) {
      result = [...result, ...flattenProperties(value, path)];
    }

    if (value.type === "array" && value.items) {
      result = [...result, ...flattenProperties(value.items, `${path}[]`)];
    }

    if (value.anyOf && Array.isArray(value.anyOf)) {
      value.anyOf.forEach((item) => {
        if (item.properties) {
          result = [...result, ...flattenProperties(item, path)];
        }
      });
    }
  });

  return result;
}

const flattenedProperties = jsonSchema ? flattenProperties(jsonSchema) : [];
---

<ul class="property-list">
  {
    flattenedProperties.map((prop) => (
      <li id={prop.path} class="property-item">
        <header>
          <div class="badges">
            <span
              class={`property-type ${
                prop.type
                  ? Array.isArray(prop.type)
                    ? "union"
                    : prop.type
                  : "undefined"
              }`}
            >
              {prop.type
                ? Array.isArray(prop.type)
                  ? prop.type.join(" | ")
                  : prop.type
                : "undefined"}
            </span>
            {prop.required && (
              <span class="property-type required">required</span>
            )}
          </div>
          <h2>
            <a href={`#${prop.path}`}>
              {prop.pathElements.map((el, i) => (
                <span
                  class={`property-path ${
                    i === prop.pathElements.length - 1 ? "last" : ""
                  }`}
                >
                  .{el}
                </span>
              ))}
            </a>
          </h2>
        </header>
        {prop.description && (
          <div class="property-description">
            <Markdown content={prop.description} />
          </div>
        )}
      </li>
    ))
  }
</ul>

<style>
  @reference "../styles/global.css";
  .property-list {
    @apply m-0 flex list-none flex-col gap-4 p-0;
  }

  .property-list li.property-item {
    @apply flex flex-col gap-2 overflow-auto rounded-xl border border-gray-200 bg-white shadow-sm;
    @apply p-2 md:p-4;
    @apply flex-wrap;
  }

  .property-item header {
    @apply flex flex-col flex-wrap justify-between gap-4;
  }

  .property-item div.badges {
    @apply flex flex-wrap justify-start gap-2;
  }

  .property-list h2 {
    @apply flex flex-wrap items-center gap-4 font-mono font-bold text-wrap text-gray-800;
    @apply text-sm md:text-2xl;
    word-break: break-word;
  }

  .property-list h2 a {
    @apply flex flex-wrap items-center gap-0;
  }

  .property-type {
    @apply rounded-sm p-1 px-2 font-mono text-sm font-bold text-gray-800 transition-colors duration-200 ease-in-out;
  }

  .property-type.string {
    @apply border border-blue-500 bg-blue-100 text-blue-900;
  }

  .property-type.integer,
  .property-type.number {
    @apply border border-green-500 bg-green-100 text-green-900;
  }

  .property-type.boolean {
    @apply border border-yellow-500 bg-yellow-100 text-yellow-900;
  }

  .property-type.object {
    @apply border border-purple-500 bg-purple-100 text-purple-900;
  }

  .property-type.array {
    @apply border border-orange-500 bg-orange-100 text-orange-900;
  }

  .property-type.union {
    @apply border border-gray-500 bg-gray-100 text-gray-900;
  }

  .property-type.required {
    @apply border border-red-500 bg-red-100 text-red-900;
  }

  .property-description {
    @apply prose-sm md:prose lg:prose-xl text-wrap;
  }

  .property-description :global(p:first-of-type) {
    @apply my-0;
  }
  .property-description :global(p:last-of-type) {
    @apply my-0;
  }

  .property-description :global(pre) {
    @apply my-4 rounded-xl border border-gray-300 bg-gray-200 p-4 shadow-inner;
    @apply overflow-hidden;
  }
  .property-description :global(code) {
    @apply rounded-sm border border-gray-300 bg-gray-200 px-2 py-1 font-mono text-sm font-bold text-gray-800;
    @apply transition-colors duration-200 ease-in-out;
  }
  .property-description :global(code::before),
  .property-description :global(code::after) {
    @apply content-[""];
  }
  .property-description :global(code:hover) {
    @apply bg-gray-300 text-gray-900;
  }
  .property-description :global(pre code) {
    @apply m-0 rounded-none border-none bg-transparent p-0;
    @apply text-gray-800;
  }
  .property-description :global(pre code:hover) {
    @apply bg-gray-200 text-gray-900;
  }
  .property-description :global(ul) {
    @apply list-inside list-disc pl-4;
  }
</style>
